In [1]:
import numpy as np
import pandas as pd

scores = np.random.randint(40, high=101, size=(50, 5))
scores_df = pd.DataFrame(scores,
    columns=['國文', '英文', '數學', '地理', '歷史'],
    index=range(1,51))
scores_df.index.name = "學號"
scores_df.columns.name="科目"
sum_series = scores_df.sum(axis=1)
mean_series = scores_df.mean(axis=1)
#display(sum_series)
rank_series = sum_series.rank(method='min',ascending=False)
scores_df["總分"] = sum_series
scores_df["平均"] = mean_series
scores_df["名次"] = rank_series
scores_df.sort_values(by='名次')

科目   國文   英文  數學   地理  歷史   總分    平均    名次
學號
11   99   72  81   84  91  427  85.4   1.0
22   69  100  55   92  97  413  82.6   2.0
4    92   70  95   99  56  412  82.4   3.0
44   82   83  94   46  97  402  80.4   4.0
36   97   58  87   97  61  400  80.0   5.0
3    82   71  53   97  94  397  79.4   6.0
5    87   71  78   71  85  392  78.4   7.0
10   96   83  78   47  87  391  78.2   8.0
1    92   42  99   90  61  384  76.8   9.0
23   89   87  72   66  68  382  76.4  10.0
31  100   82  42   62  95  381  76.2  11.0
8    70   87  90   53  80  380  76.0  12.0
50   96   96  76   62  47  377  75.4  13.0
35   76   77  61   97  64  375  75.0  14.0
18   93   93  89   56  40  371  74.2  15.0
41   75   96  54   58  87  370  74.0  16.0
19   42   71  73  100  83  369  73.8  17.0
32   48  100  85   41  92  366  73.2  18.0
49   94   51  71   48  97  361  72.2  19.0
16   43   79  92   61  85  360  72.0  20.0
30   98   92  46   71  51  358  71.6  21.0
39   72   87  86   57  53  355  71.0  22.0
20   56   61  92   92  49  350  70.0  23.0
2    45   68  95   42  94  344  68.8  24.0
42   90   73  49   79  53  344  68.8  24.0
48   68   45  55   88  87  343  68.6  26.0
27   83   97  45   44  73  342  68.4  27.0
26   52   56  92   77  63  340  68.0  28.0
7    76   45  98   74  43  336  67.2  29.0
28   56   55  43   88  94  336  67.2  29.0
33   51   65  88   47  83  334  66.8  31.0
46   50   90  45   72  75  332  66.4  32.0
37   42   76  85   83  44  330  66.0  33.0
17   58   78  87   58  46  327  65.4  34.0
6    77   49  81   55  63  325  65.0  35.0
15   86   59  48   72  59  324  64.8  36.0
14   48   71  45   64  94  322  64.4  37.0
13   72   40  53   84  68  317  63.4  38.0
34   91   45  49   51  79  315  63.0  39.0
29  100   46  46   45  74  311  62.2  40.0
47   52   94  55   62  48  311  62.2  40.0
21   57   43  58   88  62  308  61.6  42.0
38   70   70  41   72  54  307  61.4  43.0
45   53   51  44   95  58  301  60.2  44.0
40   52   70  44   89  40  295  59.0  45.0
12   45   77  44   61  68  295  59.0  45.0
24   50   71  64   59  49  293  58.6  47.0
9    55   95  45   56  41  292  58.4  48.0
25   45   68  48   72  58  291  58.2  49.0
43   54   78  43   50  59  284  56.8  50.0

In [2]:
def fun1(series:pd.Series) -> int: 
    min = series.min()
    median = series.median()
    max = series.max()  
    s1 = pd.Series([min,median,max],index=["最低分","中間值","最高分"])
    return s1

subject_df = scores_df[['國文', '英文', '數學', '地理', '歷史']]

frame1 = subject_df.apply(fun1)
frame1

科目      國文     英文    數學     地理    歷史
最低分   42.0   40.0  41.0   41.0  40.0
中間值   71.0   71.0  62.5   68.5  66.0
最高分  100.0  100.0  99.0  100.0  97.0

In [11]:
def fun2(series:pd.Series) -> pd.Series:
    lessThen60 = series[series<60].count()
    chinese="及格" if(series["國文"]>=60) else "不及格"
    english="及格" if(series["英文"]>=60) else "不及格"

    return pd.Series([lessThen60,chinese,english],index=["不及格科目","國文","英文"])

display(subject_df.T)
subject_df.T.apply(fun2)

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
科目,,,,,,,,,,,,,,,,,,,,,
國文,92,45,82,92,87,77,76,70,55,96,...,75,90,54,82,53,50,52,68,94,96
英文,42,68,71,70,71,49,45,87,95,83,...,96,73,78,83,51,90,94,45,51,96
數學,99,95,53,95,78,81,98,90,45,78,...,54,49,43,94,44,45,55,55,71,76
地理,90,42,97,99,71,55,74,53,56,47,...,58,79,50,46,95,72,62,88,48,62
歷史,61,94,94,56,85,63,43,80,41,87,...,87,53,59,97,58,75,48,87,97,47

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
不及格科目,1,2,1,1,0,2,2,1,4,1,...,2,2,4,1,4,2,3,2,2,1
國文,及格,不及格,及格,及格,及格,及格,及格,及格,不及格,及格,...,及格,及格,不及格,及格,不及格,不及格,不及格,及格,及格,及格
英文,不及格,及格,及格,及格,及格,不及格,不及格,及格,及格,及格,...,及格,及格,及格,及格,不及格,及格,及格,不及格,不及格,及格